*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

.AppHome {
  text-align: center;
  height: 100vh;
  max-width: 100vw;
    background-image: url("/public/assets/starry-night-sky_1048-11828.avif");
    color: white;
}

.QuizContainer{
  text-align: center;
    height: 100vh;
    max-width: 100vw;
    background-image: url("/public/assets/starry-night-sky_1048-11828.avif");
    color: white;
}
.AudioApp {
display: flex;
  justify-items: center;
  align-items: center;
    height: 100vh;
  width: 100vw;
  color: white;
 
}
.box-container {
  width: 100%;
  height: 100vh;
  background-image: url("/public/assets/starry-night-sky_1048-11828.avif");
    display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}
.box-container2 {
  color: white;
  width: 100%;
  height: 100vh;
  background-image: url("/public/assets/starry-night-sky_1048-11828.avif");
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.styled-input {
  width: 180px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  outline: none;
  /* Remove outline on focus */
}

.styled-input::placeholder {
  color: #999;
  /* Placeholder text color */
}

/* Style for when input is focused */
.styled-input:focus {
  border: 2px solid #3498db;
}
.head{
  font-size: 50px;
  font-weight: 400;
  padding-top: 40px;
}

.text-p{
  margin-top: 45px;
  font-size: 20px;
}

.buttons {
  margin-bottom: 50px;
}

.card {
  color: black;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 400px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.options {
  margin-top: 10px;
}

button {
  margin-top: 20px;
}

.result {
  margin-top: 20px;
}
button {
  padding: 10px 20px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  /* Green */
  color: white;
}

button:hover {
  background-color: #45a049;
}
@keyframes bounce {
  0% {
    transform: scale(1, 1) translate(0px, 0px);
  }

  30% {
    transform: scale(1, 0.8) translate(0px, 5px);
  }
55% {
  transform: scale(1, 1.0) translate(0px, -5px);
}
  75% {
    transform: scale(1, 1.1) translate(0px, -10px);
  }

  100% {
    transform: scale(1, 1) translate(0px, 0px);
  }
}

.bounce {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
  height: 20px;
  width: 150px;
  padding: 20px;
  background: tomato;
  /* animation: bounce 0.75s infinite; */
}
.flex-row2{
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.flex-col{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.down{
  display: flex;
  flex-direction: column;
  justify-items: end;

}
.dnd{
  cursor:  not-allowed;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: white;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  z-index: 999;
}
.flex-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  /* Optional: center the modals horizontally */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* quiz
 */
 .box {
   width: 40vw;
   min-width: 270px;
   color: #c9d1d9;
   background: #161b22;
   box-shadow: 0px 0px 2px 1px #5e4f4f47;
   border-radius: 10px;
   padding: 1.5rem 1rem;
 }

 .score-box {
   height: 50vh;
 }

 .quiz-box .box {
   height: 35vh;
 }

 .quiz-box .box.review-answer {
   height: 25vh;
   margin-top: 3rem;
 }

 .review-answer p {
   margin: 0.4rem 0;
 }

 .answer-title {
   font-size: 20px;
   margin: 1rem 0;
 }

 .textcenter {
   text-align: center;
 }

 .btn {
   padding: 0.5rem 1rem;
   background: #161b22;
   color: #c9d1d9;
   font-size: 14px;
   border-radius: 5px;
   border: 1px solid rgba(240, 246, 252, 0.1);
   margin-top: 1.5rem;
   margin-right: 2rem;
   cursor: pointer;
 }

 .btn:hover:not([disabled]) {
   background-color: rgb(48, 54, 61);
   border-color: rgb(139, 148, 158);
 }

 .disabled {
   background: #21262d;
   cursor: not-allowed;
   border: 1px solid rgba(240, 246, 252, 0.1);
   ;
   color: #484f58;
 }

 .description {
   margin: 1.5rem 0;
 }

 .description p {
   margin: 1rem 0;
   font-size: 18px;
 }

 .question {
   font-size: 20px;
   margin-bottom: 1rem;
 }

 .options {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
 }

 .options label {
   display: flex;
   align-items: center;
   cursor: pointer;
 }

 .options input {
   margin-right: 8px;
   cursor: pointer;
 }

 .score {
   font-size: 20px;
   margin: 1rem 0;
 }

 .answers p {
   font-size: 14px;
   font-weight: bold;
   margin: 2px 0;
 }

 .answer .correct {
   color: green;
 }

 .answer .incorrect {
   color: red;
 }

 .answer-div {
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
 }

 .review-answer-btn {
   background: transparent;
   border: 1px solid rgba(240, 246, 252, 0.1);
   padding: 8px;
   cursor: pointer;
   font-size: 14px;
   color: #c9d1d9;
 }

 .review-answer-btn:hover {
   background-color: rgb(48, 54, 61);
   border-color: rgb(139, 148, 158);
 }